<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank You Page</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <script src="https://kit.fontawesome.com/f6c7132d05.js" crossorigin="anonymous"></script>
    <style>
        body {
            font-family: Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background-color: #FA8BFF;
            background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%);

        }

        .thank-you {
            text-align: center;
            font-size: 36px;
            color: #333;
            opacity: 0;
            transform: translateY(-20px);
            animation: fadeInUp 0.5s forwards 0.5s, colorChange 3s infinite alternate;
        }

        @keyframes fadeInUp {
            from {
                opacity: 0;
                transform: translateY(-20px);
            }

            to {
                opacity: 1;
                transform: translateY(0);
            }
        }

        @keyframes colorChange {
            0% {
                color: #333;
            }

            50% {
                color: #ff5733;
                /* Reddish color */
            }

            100% {
                color: #3498db;
                /* Blue color */
            }
        }
    </style>
</head>

<body>
    <div class="thank-you">
        Thank You for Filling the Form!
    </div>
</body>

</html>